<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sony Test</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- build:js(app/build) js/sony-test.min.js -->
    <% vendorFiles.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script src="js/templates.js"></script>
    <% appFiles.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
   <!-- endbuild -->
   <script>
     var app = angular.module('sony', [
         'sony.controller.login',
         'ui.router',
         'templates-sony-test'
     ])
     .config(function ($httpProvider) {
       //JSON returned on error responses is malformed, this will fix it.
       var defaultResponseTransformer = $httpProvider.defaults.transformResponse[0];
       var malformedJsonHandler = function (data) {
          var response;
          try {
            response = defaultResponseTransformer(data);
          } catch (err) {
            var scrubbedJson =
              data.replace(/(['"])?([a-zA-Z0-9_]+)(['"])?:/g, '"$2": ');
            response = defaultResponseTransformer(scrubbedJson);
          }
          return response;
       }
       $httpProvider.defaults.transformResponse[0] = malformedJsonHandler;
       $httpProvider.defaults.headers.common['Accept'] = 'application/json';
       $httpProvider.defaults.headers.post["Content-Type"] =
               'application/json; charset=utf-8';
       $httpProvider.defaults.headers.common["Content-Type"] =
               'application/json; charset=utf-8';
     })
     .run(function ($state) {
      $state.transitionTo('login');
     });
   </script>
  </head>
  <body ng-app="sony" ng-controller="loginCtrl">
    <div class="container" ui-view></div>
  </body>
</html>
